<section class="converter-section">
  @if (currenciesLoading$ | async) {
    <div>Loading...</div>
  } @else if (currenciesLoadingFailed$ | async) {
    <div class="alert alert-danger">Could not load the currencies!</div>
  } @else {
    <p>I would like to convert:</p>
    <app-converter-form
      [currencies]="currencies$ | async"
      (formSubmit)="convert($event)"
    ></app-converter-form>
  }

  <div class="mt-3">
    @if (!!(currencies$ | async)?.length) {
      @if (valueLoading$ | async) {
        Loading...
      } 
      <!-- TODO investigate why pipe alias doesn't work -->
      @else if (value$ | async) {
        {{ 'Result: ' + (value$ | async) + ' ' + targetCurrency + '.' }}
      } @else {
        Currently there is no value converted.
      }
    }
  </div>
</section>
